<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f67b76">  <td>22/09/21 16:12:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base_app.TestBase1()[pri:0, instance:Testcases_Analytics.Testcase_Analytics_Clickable_graphs@724af044]">&gt;&gt;TestBase1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>22/09/21 16:12:50</td>   <td>8902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcase_Analytics_Clickable_graphs.Testcases_clickable_graphs_recommanded_post_to_promote_ig()[pri:2, instance:Testcases_Analytics.Testcase_Analytics_Clickable_graphs@724af044]">Testcases_clickable_graphs_recommanded_post_to_promote_ig</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>22/09/21 16:12:41</td>   <td>-18</td> <td>&nbsp;</td><td title="&gt;&gt;Base_app.initialization()[pri:0, instance:Testcases_Analytics.Testcase_Analytics_Clickable_graphs@724af044]">&gt;&gt;initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>22/09/21 16:12:41</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Testcase_Analytics_Clickable_graphs.setup()[pri:0, instance:Testcases_Analytics.Testcase_Analytics_Clickable_graphs@724af044]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>22/09/21 16:14:48</td>   <td>126738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Testcase_Analytics_Clickable_graphs.teardown()[pri:0, instance:Testcases_Analytics.Testcase_Analytics_Clickable_graphs@724af044]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
</table>
